.popup__close-button {
  /* переделала с + на картинку */
  background-image: url('../../../images/Close\ Icon.svg');
  background-repeat: no-repeat;
  transform: rotate(45deg);
  position: absolute;
  width: 40px;
  height: 40px;
  right: -35px;
  top: -45px;
}

.popup__close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    background-image: url('../../../images/Close\ Icon\ small.svg');
    height: 26px;
    position: absolute;
    transform: rotate(-45deg);
    right: -15px;
    top: -45px;
  }
}
