.page__places {
    margin: 47px auto 0 auto;
    padding: 0;
}

@media screen and (max-width: 1023px) {
  .page__places  {
    row-gap: 40px;
    padding: 0 75px;
  }
}

@media screen and (max-width: 767px) {
  .page__places {
    margin: 47px auto 0 auto;
    padding: 0;
}
}
